.itineraryContainer {
   width: 80rem;
   margin: 2rem auto auto auto;
   display: flex;
   justify-content: center;
   gap: 8rem;

   .profilePhoto {
      opacity: 0.4;
      border-radius: 50%;
      width: 10rem;
      margin-top: 1rem;
      height: min-content;
   }

   .subContainer {
      .headline {
         margin-top: 0;
      }
      .formContainer2 {
         .label {
            margin-left: -0.1rem;
         }
         .imageInputBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            width: 32rem;
            height: 18rem;
            margin: 3rem auto auto auto;
            border-radius: 20px;
         }
         .imgInput {
            display: none;
            visibility: none;
         }

         .inputsContainter {
            width: 32rem;
            margin: auto;

            .locationBox {
               margin: 5rem auto auto auto;
               padding: 0.5rem 0;

               .locationLabel {
                  margin-left: -0.2rem;
                  margin-top: -02rem;
               }

               .inputLocation {
                  box-sizing: border-box;
                  width: 100%;
               }
            }

            .dateAmountContainer {
               display: flex;
               justify-content: center;
               .date {
                  margin-right: auto;
                  .datePicker {
                     width: 100%;
                  }
               }

               .amount {
                  margin-left: auto;
               }
               .amount > input {
                  width: 100%;
                  box-sizing: border-box;
               }
            }

            .descriptionBox {
               .textArea {
                  border-radius: 5px;
                  height: 7rem;
                  box-sizing: border-box;
                  width: 100%;
                  resize: none;
               }
               textarea::placeholder {
                  padding-top: 1rem;
                  padding-left: 1rem;
                  color: #cecece;
               }
            }
         }
      }
   }
}
