.tripDetailsContainer {
   display: flex;
   flex-direction: column !important;
   width: 54rem;
   margin: auto;
   margin-top: 2rem;
   .headline {
      color: #333333;
   }
   .imageBox {
      display: flex;
      margin: 4rem auto;
      justify-content: center;
   }
   .imageBox > img {
      width: 10rem;
      border-radius: 50%;
   }
   .formContainer {
      width: 75%;
      margin: auto;
      background-color: rgba(217, 217, 217, 0.3);
      border-radius: 10px;

      .inputLabel {
         margin-left: 0.5rem;
      }
      .userInput {
         margin: 0 0.35rem;
         width: 40%;
      }

      .flexContainer {
         width: 100%;
         display: flex;
      }
      .flexContainer-numTravelers {
         margin-top: 2rem;
         width: 100%;
         display: flex;
      }
      .flexContainer-numTravelers > input {
         width: 2rem;
         text-align: center;
         margin-left: 2rem;
      }

      .dateContainer {
         margin-top: 1rem;
         .datePicker {
            margin-top: 0.25rem;
            width: 80%;
         }
      }
      .btnContainer {
         padding: 2rem 0;
         margin: auto;
         width: 80%;
      }

      .flexContainer-spending {
         margin-top: 2rem;
         display: flex;

         .totalSpending {
            margin-left: 3rem;
            width: 7rem;
         }
      }
   }
}


.tripDetailsNextButton{
   height: 40px;
   width: 100px;
   color: #26313C;
   border: none;
   width: 100%;
   border-radius: 40px;
   background-color: #26313C;
   color: white;
   cursor: pointer;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items:center;

   &:hover{
      background-color: #e6e6e6;
      color: #26313C;
   }
}