
.search {
    width: 30%;
}

.heading1{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.heading2{
    display: inline;
    font-size: 60px;
    color: #666666;
    font-weight: 900;

}
.subText{
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;

}